[submodule "libraries/traceSystem"]
	path = libraries/traceSystem
	url = https://github.com/Kotuon/traceSystem
[submodule "libraries/crashHandler"]
	path = libraries/crashHandler
	url = https://github.com/Kotuon/crashHandler
[submodule "libraries/profiler"]
	path = libraries/profiler
	url = https://github.com/Kotuon/profiler
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libraries/timeManager"]
	path = libraries/timeManager
	url = https://github.com/Kotuon/timeManager
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
